<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="lorry.folder.items.dossiersigma.permission.SEND_MESSAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

<!--  android:icon="@mipmap/ic_launcher"  -->
    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_foreground"
            android:supportsRtl="true"
            android:theme="@style/Theme.DossierSigma"
            android:name=".SigmaApplication"
            tools:targetApi="31"
            android:enableOnBackInvokedCallback="true">
        <activity
                android:name=".ui.sigma.SigmaActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.DossierSigma"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <service
            android:name=".headless.services.MoveFileService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".headless.service.utilities.NucleusService"
            android:exported="false"/>
            <!-- android:foregroundServiceType="dataSync|connectedDevice"
                android:exported="false" : le service n’est pas accessible depuis d’autres apps
                android:foregroundServiceType : optionnel, précise le type pour Android 9+
                (dataSync, location, mediaPlayback, etc.)
            -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
        <service
            android:name=".headless.favoriteObservation.service.DaemonService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <!-- Certains cas exigent d'autres types : location, mediaPlayback, etc. -->
        </service>
        <receiver
            android:name=".headless.favoriteObservation.service.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>